In [1]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine
import warnings
# DANGER DANGER DANGER
warnings.filterwarnings("ignore")
# DANGER DANGER DANGER
my_username = "root"
my_password = "rootroot"
schema_name = "med"
engine = db.create_engine(f"mysql+pymysql://{my_username}:{my_password}@localhost/{schema_name}", echo=False)
conn = engine.connect()

In [ ]:
features = "state, ndc, labeler_code, product_code, package_size, year, quarter, product_name, units_reimbursed, number_of_prescriptions, total_amount_reimbursed"

In [69]:
features = "product_name, ndc, labeler_code, product_code, package_size, number_of_prescriptions, units_reimbursed, total_amount_reimbursed, state, year, quarter"
table = "d93"
df = pd.read_sql(f"SELECT {features} FROM {table} WHERE number_of_prescriptions != 0 LIMIT 10;", conn)
df

,product_name,ndc,labeler_code,product_code,package_size,number_of_prescriptions,units_reimbursed,total_amount_reimbursed,state,year,quarter
0,DARVON-N,00002035302,2,353,2,13,931,496,AK,1993,4
1,DARVOCET-N,00002036302,2,363,2,50,2293,1295,AK,1993,4
2,DARVOCET-N,00002036303,2,363,3,33,1617,787,AK,1993,4
3,SECONAL SO,00002064002,2,640,2,26,755,289,AK,1993,4
4,DARVON,00002080302,2,803,2,33,960,482,AK,1993,4
5,AVENTYL HC,00002081933,2,819,33,25,776,928,AK,1993,4
6,PHENOBARBI,00002103202,2,1032,2,54,3583,526,AK,1993,4
7,PHENOBARBI,00002103302,2,1033,2,17,780,132,AK,1993,4
8,PHENOBARBI,00002103702,2,1037,2,34,1907,350,AK,1993,4
9,PHENOBARBI,00002243805,2,2438,5,24,11860,448,AK,1993,4

In [47]:
features = "product_name, ndc, labeler_code, product_code, package_size, number_of_prescriptions, units_reimbursed, total_amount_reimbursed, state, year, quarter"
table = "d93"
df = pd.read_sql(f"SELECT {features} FROM {table} WHERE ndc REGEXP '01210531' LIMIT 10;", conn)
df

,product_name,ndc,labeler_code,product_code,package_size,number_of_prescriptions,units_reimbursed,total_amount_reimbursed,state,year,quarter
0,PHENOBARBI,00121053105,121,531,5,0,0,0,GA,1993,4
1,PHENOBARBI,00121053105,121,531,5,12,530,77,GA,1993,3
2,PHENOBARBI,00121053105,121,531,5,11,530,73,GA,1993,2
3,PHENOBARBI,00121053105,121,531,5,25,6400,144,GA,1993,1
4,PHENOBARBI,00121053107,121,531,7,0,0,0,IN,1993,4
5,PHENOBARBI,00121053107,121,531,7,0,0,0,IN,1993,3
6,PHENOBARBI,00121053107,121,531,7,0,0,0,IN,1993,2
7,PHENOBARBI,00121053107,121,531,7,0,0,0,IN,1993,1
8,PHENOBARBI,00121053107,121,531,7,0,0,0,MI,1993,3
9,PHENOBARBI,00121053105,121,531,5,0,0,0,XX,1993,4

In [41]:
features = "ndc, count(*)"
table = "d21"
drug = 'PHENOBARBI'
where = f"product_name REGEXP '^{drug}'"
df = pd.read_sql(f"SELECT {features} FROM {table} WHERE {where} GROUP BY ndc;", conn)
df

             ndc  count(*)
0    00603150858       307
1    00603516521       214
2    00603516621       286
3    00603516721       302
4    00603516821       268
..           ...       ...
105  75826014100         4
106  00143144501         4
107  63739020110         3
108  60687044840         2
109  75826013900         2

[110 rows x 2 columns]

In [ ]:
features = "*"
table = "ndc"
df = pd.read_sql(f"SELECT {features} FROM {table} LIMIT 10;", conn)
df

In [46]:
features = "*"
table = "ndc"
drug = 'PHENOBARBI'
where = f"SUBSTANCENAME REGEXP '^{drug}'"
df = pd.read_sql(f"SELECT {features} FROM {table} WHERE {where} LIMIT 20;", conn)
df

,PRODUCTID,PRODUCTNDC,PRODUCTTYPENAME,PROPRIETARYNAME,PROPRIETARYNAMESUFFIX,NONPROPRIETARYNAME,DOSAGEFORMNAME,ROUTENAME,STARTMARKETINGDATE,ENDMARKETINGDATE,MARKETINGCATEGORYNAME,APPLICATIONNUMBER,LABELERNAME,SUBSTANCENAME,ACTIVE_NUMERATOR_STRENGTH,ACTIVE_INGRED_UNIT,PHARM_CLASSES,DEASCHEDULE,NDC_EXCLUDE_FLAG,LISTING_RECORD_CERTIFIED_THROUGH
0,0121-0531_d4dbd9ed-e7bc-038e-e053-2a95a90a8a27,0121-0531,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,SOLUTION,ORAL,2007-02-19,,UNAPPROVED DRUG OTHER,,"Pharmaceutical Associates, Inc.",PHENOBARBITAL,20,mg/5mL,,CIV,N,2023-12-31
1,0121-0942_cae1f392-4081-90f9-e053-2a95a90a8fb5,0121-0942,HUMAN PRESCRIPTION DRUG,Phenobarbital Oral Solution,,Phenobarbital Oral,SOLUTION,ORAL,2021-08-20,,UNAPPROVED DRUG OTHER,,"Pharmaceutical Associates, Inc.",PHENOBARBITAL,20,mg/5mL,,CIV,N,2023-12-31
2,0121-1884_cae1f392-4081-90f9-e053-2a95a90a8fb5,0121-1884,HUMAN PRESCRIPTION DRUG,Phenobarbital Oral Solution,,Phenobarbital Oral,SOLUTION,ORAL,2021-08-20,,UNAPPROVED DRUG OTHER,,"Pharmaceutical Associates, Inc.",PHENOBARBITAL,30,mg/7.5mL,,CIV,N,2023-12-31
3,0121-2826_cae1f392-4081-90f9-e053-2a95a90a8fb5,0121-2826,HUMAN PRESCRIPTION DRUG,Phenobarbital Oral Solution,,Phenobarbital Oral,SOLUTION,ORAL,2021-08-20,,UNAPPROVED DRUG OTHER,,"Pharmaceutical Associates, Inc.",PHENOBARBITAL,60,mg/15mL,,CIV,N,2023-12-31
4,0143-1455_8b0f0d64-752d-4827-8455-e3b3c90ff849,0143-1455,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,TABLET,ORAL,1999-01-11,,UNAPPROVED DRUG OTHER,,Hikma Pharmaceuticals USA Inc.,PHENOBARBITAL,60,mg/1,,CIV,N,2023-12-31
5,0143-1458_8b0f0d64-752d-4827-8455-e3b3c90ff849,0143-1458,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,TABLET,ORAL,2000-01-07,,UNAPPROVED DRUG OTHER,,Hikma Pharmaceuticals USA Inc.,PHENOBARBITAL,100,mg/1,,CIV,N,2023-12-31
6,0143-1495_8b0f0d64-752d-4827-8455-e3b3c90ff849,0143-1495,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,TABLET,ORAL,2020-03-05,,UNAPPROVED DRUG OTHER,,Hikma Pharmaceuticals USA Inc.,PHENOBARBITAL,15,mg/1,,CIV,N,2023-12-31
7,0143-1500_8b0f0d64-752d-4827-8455-e3b3c90ff849,0143-1500,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,TABLET,ORAL,2020-03-05,,UNAPPROVED DRUG OTHER,,Hikma Pharmaceuticals USA Inc.,PHENOBARBITAL,30,mg/1,,CIV,N,2023-12-31

In [86]:
features = "ndc, product_name, count(*)"
table = "d93"
drug = 'PHENOBARBI'
where = f"product_name REGEXP '^{drug}' AND number_of_prescriptions != 0"
df_med = pd.read_sql(f"SELECT {features} FROM {table} WHERE {where} GROUP BY ndc, product_name;", conn)
df_med

             ndc product_name  count(*)
0    00002103202   PHENOBARBI       192
1    00002103302   PHENOBARBI       194
2    00002103702   PHENOBARBI       198
3    00002243805   PHENOBARBI       191
4    00047060732   PHENOBARBI       191
..           ...          ...       ...
170  00071069840   PHENOBARBI         3
171  00071060740   PHENOBARBI         1
172  00071070032   PHENOBARBI         2
173  00008030401   PHENOBARBI         3
174  00005326234   PHENOBARBI         1

[175 rows x 3 columns]

In [ ]:
code = df_med['ndc'][0]
print(code)
first = code[-10:-6]
second = code[-6:-2]
print(first)
print(second)

In [80]:
features = "*"
table = "ndc"
drug = 'PHENOBARBI'

for code in df_med['ndc']:
    first = code[-10:-6]
    second = code[-6:-2]
    where = f"PRODUCTNDC REGEXP '{first}-{second}'"
    df_ndc = pd.read_sql(f"SELECT {features} FROM {table} WHERE {where} LIMIT 20;", conn)
    if df_ndc.empty == False:
        display(df_ndc)

,PRODUCTID,PRODUCTNDC,PRODUCTTYPENAME,PROPRIETARYNAME,PROPRIETARYNAMESUFFIX,NONPROPRIETARYNAME,DOSAGEFORMNAME,ROUTENAME,STARTMARKETINGDATE,ENDMARKETINGDATE,MARKETINGCATEGORYNAME,APPLICATIONNUMBER,LABELERNAME,SUBSTANCENAME,ACTIVE_NUMERATOR_STRENGTH,ACTIVE_INGRED_UNIT,PHARM_CLASSES,DEASCHEDULE,NDC_EXCLUDE_FLAG,LISTING_RECORD_CERTIFIED_THROUGH
0,0121-0531_d4dbd9ed-e7bc-038e-e053-2a95a90a8a27,0121-0531,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,SOLUTION,ORAL,2007-02-19,,UNAPPROVED DRUG OTHER,,"Pharmaceutical Associates, Inc.",PHENOBARBITAL,20,mg/5mL,,CIV,N,2023-12-31

,PRODUCTID,PRODUCTNDC,PRODUCTTYPENAME,PROPRIETARYNAME,PROPRIETARYNAMESUFFIX,NONPROPRIETARYNAME,DOSAGEFORMNAME,ROUTENAME,STARTMARKETINGDATE,ENDMARKETINGDATE,MARKETINGCATEGORYNAME,APPLICATIONNUMBER,LABELERNAME,SUBSTANCENAME,ACTIVE_NUMERATOR_STRENGTH,ACTIVE_INGRED_UNIT,PHARM_CLASSES,DEASCHEDULE,NDC_EXCLUDE_FLAG,LISTING_RECORD_CERTIFIED_THROUGH
0,0121-0531_d4dbd9ed-e7bc-038e-e053-2a95a90a8a27,0121-0531,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,SOLUTION,ORAL,2007-02-19,,UNAPPROVED DRUG OTHER,,"Pharmaceutical Associates, Inc.",PHENOBARBITAL,20,mg/5mL,,CIV,N,2023-12-31

,PRODUCTID,PRODUCTNDC,PRODUCTTYPENAME,PROPRIETARYNAME,PROPRIETARYNAMESUFFIX,NONPROPRIETARYNAME,DOSAGEFORMNAME,ROUTENAME,STARTMARKETINGDATE,ENDMARKETINGDATE,MARKETINGCATEGORYNAME,APPLICATIONNUMBER,LABELERNAME,SUBSTANCENAME,ACTIVE_NUMERATOR_STRENGTH,ACTIVE_INGRED_UNIT,PHARM_CLASSES,DEASCHEDULE,NDC_EXCLUDE_FLAG,LISTING_RECORD_CERTIFIED_THROUGH
0,0121-0531_d4dbd9ed-e7bc-038e-e053-2a95a90a8a27,0121-0531,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,SOLUTION,ORAL,2007-02-19,,UNAPPROVED DRUG OTHER,,"Pharmaceutical Associates, Inc.",PHENOBARBITAL,20,mg/5mL,,CIV,N,2023-12-31

,PRODUCTID,PRODUCTNDC,PRODUCTTYPENAME,PROPRIETARYNAME,PROPRIETARYNAMESUFFIX,NONPROPRIETARYNAME,DOSAGEFORMNAME,ROUTENAME,STARTMARKETINGDATE,ENDMARKETINGDATE,MARKETINGCATEGORYNAME,APPLICATIONNUMBER,LABELERNAME,SUBSTANCENAME,ACTIVE_NUMERATOR_STRENGTH,ACTIVE_INGRED_UNIT,PHARM_CLASSES,DEASCHEDULE,NDC_EXCLUDE_FLAG,LISTING_RECORD_CERTIFIED_THROUGH
0,0143-1495_8b0f0d64-752d-4827-8455-e3b3c90ff849,0143-1495,HUMAN PRESCRIPTION DRUG,Phenobarbital,,Phenobarbital,TABLET,ORAL,2020-03-05,,UNAPPROVED DRUG OTHER,,Hikma Pharmaceuticals USA Inc.,PHENOBARBITAL,15,mg/1,,CIV,N,2023-12-31

In [89]:
# df_med['ndc']=df_med['ndc'][:-2]

for ind in df_med.index:
    df_med.loc[ind,'ndc'] = (df_med.loc[ind,'ndc'])[:-2]

           ndc product_name  count(*)
0    000021032   PHENOBARBI       192
1    000021033   PHENOBARBI       194
2    000021037   PHENOBARBI       198
3    000022438   PHENOBARBI       191
4    000470607   PHENOBARBI       191
..         ...          ...       ...
170  000710698   PHENOBARBI         3
171  000710607   PHENOBARBI         1
172  000710700   PHENOBARBI         2
173  000080304   PHENOBARBI         3
174  000053262   PHENOBARBI         1

[175 rows x 3 columns]

In [108]:

len(df_med['ndc'].unique())

127