Help from:
https://oscarvalles.wordpress.com/2017/07/07/how-to-create-and-drop-tables-in-sql-alchemy/
https://stackoverflow.com/questions/30867390/python-pandas-to-sql-how-to-create-a-table-with-a-primary-key
mysql docs

In [1]:
import sqlalchemy as db
# from sqlalchemy import create_engine

# DANGER DANGER DANGER
import warnings
warnings.filterwarnings("ignore")
# DANGER DANGER DANGER

my_username = "root"
my_password = "rootroot"
schema_name = "medicaid"

engine = db.create_engine(f"mysql+pymysql://{my_username}:{my_password}@localhost/{schema_name}", echo=False)

conn = engine.connect()

In [110]:
conn.execute("LOAD DATA INFILE '/usr/local/mysql-8.0.32-macos13-arm64/capstone_data/state-drug-utilization-data1991.csv' IGNORE INTO TABLE d91 FIELDS TERMINATED BY ',' IGNORE 1 ROWS;")

In [ ]:
sets = ['d91','d92','d93','d94','d95','d96','d97','d98','d99','d00','d01','d02','d03','d04','d05','d06','d07','d08','d09','d10','d11','d12','d13','d14','d15','d16','d17','d18','d19','d20','d21','d22']

for table_name in sets:
    yr = int(table_name[1:])
    if yr >= 90:
        year = yr+1900
    if yr < 90:
        year = yr+2000
    conn.execute(f"LOAD DATA INFILE '/usr/local/mysql-8.0.32-macos13-arm64/capstone_data/state-drug-utilization-data{year}.csv' IGNORE INTO TABLE {table_name} FIELDS TERMINATED BY ',' IGNORE 1 ROWS;")

In [3]:
from sqlalchemy import MetaData, Table, Column, String
from sqlalchemy.dialects.mysql import VARCHAR as varchar, TINYTEXT as tinytext, INTEGER as integer
metadata_obj = MetaData()

In [75]:
user_table = Table('d91', metadata_obj)
user_table.drop(engine)

# metadata_obj.create_all(engine)

In [4]:
sets = ['d91'] #,'d92','d93','d94','d95','d96','d97','d98','d99','d00','d01','d02','d03','d04','d05','d06','d07','d08','d09','d10','d11','d12','d13','d14','d15','d16','d17','d18','d19','d20','d21','d22']

for year in sets:
    conn.execute(f"DROP TABLE IF EXISTS {year}")
    metadata_obj = MetaData()
    user_table = Table(
                        year,
                        metadata_obj,
                        Column('utilization_type', tinytext),
                        Column('state', tinytext),
                        Column('ndc', tinytext),
                        Column('labeler_code', integer(4)),
                        Column('product_code', integer(4)),
                        Column('package_size', integer(4)),
                        Column('year', integer(4)),
                        Column('quarter', integer(1)),
                        Column('suppression_used', tinytext),
                        Column('product_name', varchar(140)),
                        Column('units_reimbursed', integer),
                        Column('number_of_prescriptions', integer),
                        Column('total_amount_reimbursed', integer),
                        Column('medicaide_amount_reimbursed', integer),
                        Column('non_medical_amount_reimbursed', integer)
                        )
    metadata_obj.create_all(engine)

In [ ]:
LOAD DATA INFILE '/usr/local/mysql-8.0.32-macos13-arm64/state_drug_utilization_data1991.csv' IGNORE INTO TABLE d91 FIELDS TERMINATED BY ',' IGNORE 1 ROWS;

In [9]:
my_username = "root"
my_password = "rootroot"
schema_name = "med"

engine = db.create_engine(f"mysql+pymysql://{my_username}:{my_password}@localhost/{schema_name}", echo=False)

conn = engine.connect()

In [10]:
# https://www.mysqltutorial.org/mysql-delete-statement.aspx
conn.execute("DELETE FROM d06 WHERE state = 'TN';")
conn.execute("DELETE FROM d06 WHERE state = 'WA';")
conn.execute("DELETE FROM d07 WHERE state = 'SD';")